.logo-icon {
  position:absolute;
  top: 30px;
  left: 40%;
  width: 70px;
  height: 82px;
  z-index:999
}

.logo-word {
  position:absolute;
  top: 130px;
  left: 40%;
  width: 70px;
  height: 24px;
  z-index:999
}
