.DT-header {
  padding: 0px !important;
  > img {
    width: 100%;
    height: 100%;
  }
  height: auto;
}

.DT-menu-content {
    top: 20%;
}

.DT-menu-icon {
  width:20px;
  height: 20px;
  margin-right: 5px;
}
